<%	

	Spreadsheet.client_encoding = 'UTF-8'

	book = Spreadsheet.open Rails.public_path+'/import/importami.xls'

	sheet1 = book.worksheet 0

%>

<table>
	<tr>
		<% sheet1.row(0).each do |col| %>
			<th><%= col %></th>
		<% end %>
	</tr>	

	<% sheet1.each 1 do |row|	%>
		<tr>
		<% row.each do |col|  %>
			<td><%= col %></td>
		<%  end %>
		</tr>
	<% end %>

</table>

<p><%= link_to "importa file", :controller => 'upload', :action => 'uploadit' %></p>
